auto-save-list/
elpa/
eshell/
games/
semanticdb/
server/
url/
backups/
workspace/
.cask/

tramp
recentf
projectile-bookmarks.*
projectile.cache
.custom.el
.secret.el
.emacs.desktop*
.multiple-cursors.el
.projectile-cache
.vimish-fold/
